#:schema https://www.schemastore.org/any.json

# Clippy's default only allows 2 segments, but I find 3 to be allowable before
# requiring a 'use' statement.
absolute-paths-max-segments = 3

# Tweaks specific targeting tests
allow-expect-in-tests = true
allow-panic-in-tests  = true
allow-print-in-tests  = true
allow-unwrap-in-tests = false

disallowed-macros = [
  # Prefer the macros from the `pretty_assertions` crate
  "std::assert_eq",
  "std::assert_matches::assert_matches",
  "std::assert_matches::debug_assert_matches",
  "std::assert_ne",
]

# Prefer semi-colons inside blocks _except_ for single-line blocks
semicolon-inside-block-ignore-singleline = true
semicolon-outside-block-ignore-multiline = true
