# shellcheck shell=bash

# The flags require absolute paths, hence we they are set in this file, instead
# of `.cargo/config.toml`.
export RUSTDOCFLAGS="${RUSTDOCFLAGS:-} --html-in-header $PWD/.cargo/katex.header.html"
export RUSTDOCFLAGS="${RUSTDOCFLAGS:-} --html-in-header $PWD/.cargo/mermaid.header.html"
export RUSTDOCFLAGS="${RUSTDOCFLAGS:-} --html-after-content $PWD/.cargo/katex.script.html"
export RUSTDOCFLAGS="${RUSTDOCFLAGS:-} --html-after-content $PWD/.cargo/mermaid.script.html"

# To avoid rebuilding dependencies, we set `RUSTC_BOOTSTRAP=1` to replicate the
# environment of the `rust-analyzer` build.
#
# See: rust-lang/rust-analyzer#17149
export RUSTC_BOOTSTRAP=1 #
