[submodule "pages"]
	path = pages
	url = http://github.com/JP-Ellis/rust-skiplist.git
	branch = pages
[submodule "gh-pages"]
	path = gh-pages
	url = https://github.com/JP-Ellis/rust-skiplist.git
	branch = gh-pages
