---
name: test

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  # Generic
  FORCE_COLOR: '1'
  CLICOLOR: '1'
  # Rust
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: '1'
  NEXTEST_PROFILE: ci

jobs:
  complete:
    name: Test completion check
    if: always()

    permissions:
      contents: none

    runs-on: ubuntu-latest
    needs:
      - clippy
      - coverage
      - format
      - pre-commit
      - spelling
      - test

    steps:
      - name: Failed
        run: exit 1
        if: >
          contains(needs.*.result, 'failure')
          || contains(needs.*.result, 'cancelled')
          || contains(needs.*.result, 'skipped')

  clippy:
    name: >-
      Clippy Rust ${{ matrix.rust }}
      on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        rust:
          - stable
    continue-on-error: ${{ matrix.rust != 'stable' }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: clippy

      - name: Cache Rust
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2

      - name: Install cargo-hack and cargo-action-fmt
        uses: taiki-e/install-action@50708e9ba8d7b6587a2cb575ddaa9a62e927bc06  # v2.62.63
        with:
          tool: cargo-hack,cargo-action-fmt

      - name: Clippy
        run: |
          cargo hack \
            --feature-powerset \
            clippy \
            --workspace \
            --all-targets \
            --message-format json \
            -- \
            -D warnings |
           cargo-action-fmt

  format:
    name: >-
      Format Rust ${{ matrix.rust }}
      on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        rust:
          - stable
    continue-on-error: ${{ matrix.rust != 'stable' }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
          components: rustfmt

      - name: Cache Rust
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2

      - name: Format
        run: cargo fmt --check

  test:
    name: >-
      Test Rust ${{ matrix.rust }}
      on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
        rust:
          - stable
          - beta
    continue-on-error: ${{ matrix.rust != 'stable' }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}

      - name: Cache Rust
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2

      - name: Install cargo-hack and nextest
        uses: taiki-e/install-action@50708e9ba8d7b6587a2cb575ddaa9a62e927bc06  # v2.62.63
        with:
          tool: cargo-hack,nextest

      - name: Run tests
        shell: bash
        env:
          NEXTEST_EXPERIMENTAL_LIBTEST_JSON: '1'
        run: |
          while IFS=$'\n' read -r line || ! retval=$line; do
            if ! echo "$line" | jq -e . 2>/dev/null 1>&2; then
              continue
            fi

            type=$(echo "$line" | jq -r '.type')
            event=$(echo "$line" | jq -r '.event')
            if [ "$type" != "test" ] || [ "$event" != "failed" ]; then
              continue
            fi

            echo "Found failed test: $line"

            failed=true
            name=$(echo "$line" | jq -r '.name')
            stdout=$(echo "$line" | jq -r '.stdout')

            {
              echo "## Failed test $name"
              echo '```'
              echo "$stdout"
              echo '```'
            } >>"$GITHUB_STEP_SUMMARY"
          done < <(
            cargo hack nextest run \
              --feature-powerset \
              --workspace \
              --message-format libtest-json
            printf '%s' "$?"
          )

          exit "$retval"

  coverage:
    name: >-
      Coverage ${{ matrix.rust }}
      on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - ubuntu-latest
        rust:
          - nightly
    continue-on-error: ${{ matrix.rust != 'stable' }}

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}

      - name: Cache Rust
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5  # v2.8.2

      - name: Install cargo-hack, tarpaulin
        uses: taiki-e/install-action@50708e9ba8d7b6587a2cb575ddaa9a62e927bc06  # v2.62.63
        with:
          tool: cargo-hack,cargo-tarpaulin

      - name: Run tests
        shell: bash
        env:
          NEXTEST_EXPERIMENTAL_LIBTEST_JSON: '1'
        run: |
          cargo hack \
            --feature-powerset \
            --workspace \
            tarpaulin \
            --out Xml

  spelling:
    name: Spell check

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Spell Check Repo
        uses: crate-ci/typos@2d0ce569feab1f8752f1dde43cc2f2aa53236e06  # v1.40.0

  pre-commit:
    name: Pre-commit

    runs-on: ubuntu-latest

    env:
      PRE_COMMIT_HOME: ${{ github.workspace }}/.pre-commit

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Cache pre-commit
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830  # v4.3.0
        with:
          path: |
            ${{ env.PRE_COMMIT_HOME }}
          key: ${{ runner.os }}-pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Set up uv
        uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a  # v7.1.5
        with:
          enable-cache: true
          cache-suffix: pre-commit
          cache-dependency-glob: ''

      - name: Install pre-commit
        run: uv tool install pre-commit
      - name: Install hatch
        run: uv tool install hatch

      - name: Run pre-commit
        run: pre-commit run --show-diff-on-failure --color=always --all-files
        env:
          OPENAI_API_KEY: sk-000000000000000000000000000000000000000000000000

  committed:
    name: Committed

    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          fetch-depth: 0

      - name: committed-action
        uses: crate-ci/committed@bb02f309663f9baced8dbd5fdd80c6369ddf3efd  # v1.1.8
        with:
          args: -vv --no-merge-commit --no-wip --no-fixup
